body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    padding: 1em 0;
}

a {
    color: #5bc0eb;
}

h1 > small {
    color: gray;
}

code {
    color: #e55934;
}

.inline {
    padding-left: 0;
}

.inline > * {
    display: inline;
}

.nav > * {
    padding: 1em;
}

.message {
    padding: 1em;
    margin-bottom: 1em;
}

/* https://coolors.co/app/5bc0eb-fde74c-9bc53d-e55934-fa7921 */

.success {
    background-color: #9bc53d;
    color: white;
}

.error {
    background-color: #e55934 !important;
    color: white;
}

.missing {
    color: #e55934 !important;
    color: white;
}

.cheated {
    background-color: #5bc0eb;
    color: white;
}

.selected {
    background-color: #fde74c;
}

.current {
    background-color: #dddddd;
}

.centered {
    margin: 0 auto;
}

.completed {
    text-decoration: line-through;
}

@media (min-width: 80em) {
    .container {
        width: 80em;
    }

    .row {
        width: 80em;
    }
}

.column {
    display: inline-block;
    padding: 0;
}

.half {
    width: 39em;
}

.quarter {
    width: 20em;
}
